<!DOCTYPE html>
<html>
<head>
    <title>Employee</title>
</head>
<body>
    <h2>Net salary converter</h2>
    <form action="{% url 'salary_result' %}" method="post">
        {% csrf_token %}
        <label>Name:</label><input type="text" name="name"><br>
        <br>

        <label>Age:</label><input type="number" name="age"><br>
        <br>
        <label>Company:</label><input type="text" name="company"><br>
        <br>
        <label>Gross Salary:</label><input type="number" name="gross_salary"><br>
        <br>
        <label>Tax (%):</label><input type="number" name="tax" step="0.01"><br>
        <br>
        <label>Bonus (%):</label><input type="number" name="bonus"><br>
        <br>

        <button type="submit">Calculate</button>
    </form>
    <br><br>
    <a href="{% url 'jumble_word' %}">Jumble Word</a>
</body>
</html>
